################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Protocols/Cti.Genesys.Models/bin/Debug/netstandard2.0
/src/Protocols/Cti.Genesys.Models/obj
/src/Protocols/.vs/Protocols
/src/Protocols/nuget.config
/src/Protocols/Cti.Genesys.Models.Config/bin/Debug/netstandard2.0
/src/Protocols/Cti.Genesys.Models.Config/obj
/src/Protocols/Cti.Genesys.Models/bin/Release
/src/Protocols/Cti.Genesys.Models.Config/bin/Release/netstandard2.0
/src/Protocols/Cti.Genesys.Models.Config/bin/Release/Cti.Genesys.Models.Config.0.0.1-alpha.snupkg
*.nupkg
/src/Protocols/Cti.Protocols.Contracts/obj
/src/Protocols/Cti.Genesys.Repos.Contracts/obj
/src/Protocols/Cti.Genesys.Repos.Contracts.Config/obj
/src/Protocols/Cti.Protocols.Contracts/bin/Release
